<% if @student.valid? %>
  // add student to list
  $('.cards').prepend("<%= escape_javascript(render 'students/students', student: @student) %>");
  // close modal
  $(".modal-state:checked").prop("checked", false).change();
  $('.main-content__container--outer').prepend("<div class='flash-success flash-message'><%= flash[:success] %> </div>");
  $('.flash-message').fadeOut(5000);
<% else %>
  $('.modal-inner').prepend("<div class='flash-error flash-message'> <%= flash[:error] %> </div>");
  $('.flash-message').fadeOut(5000);
<% end %>
