%h3 Upcoming Appointments
- if @upcoming_events
  = render partial:  "appointments/appointment", collection: @upcoming_events, as: :appointment
- else
  %h3 You have no upcoming appointments scheduled
- if @past_events
  %h3 Past Appointments
  = render partial:  "appointments/appointment", collection: @past_events, as: :appointment
