.button__container
  %button.modal-trigger#appointment__new
    %label{:for => "appointment"} New Appointment
  .modal
    %input#appointment.modal-state{:type => "checkbox"}/
    .modal-window
      .modal-inner
        = render partial: "appointments/form", locals: { user: @user, appointment: @new_appointment}
.appointments__list
  = render partial: "users/events", locals: { upcoming_events: @upcoming_events, past_events: @past_events}
.student__cards
